<div class="row">
  <div class="col-sm-12">
    <!-- ---------------------
                                        start Default Basic Forms
                                    ---------------- -->
    <div class="card">
      <div class="card-body">
        <h5>Modifier Un Profil</h5>
        <p class="card-subtitle mb-3">
          Information Profil
        </p>
        <form #d="ngForm" class="form">
          <div class="mb-3 row">
            <label
              for="example-text-input"
              class="col-md-2 col-form-label"
            >Nom Profil</label
            >
            <div class="col-md-10">
              <input
                name="nomProfil"
                ngModel
                [(ngModel)]="profilDetails.nomProfil"
                class="form-control"
                type="text"
                placeholder="Nom Profil"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="example-search-input"
              class="col-md-2 col-form-label"
            >Description Profil</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="textarea"
                name="descriptionProfil"
                [(ngModel)]="profilDetails.descriptionProfil"
                placeholder="Description Profil"
                id="example-search-input"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="example-email-input"
              class="col-md-2 col-form-label"
            >Service</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                name="service"
                [(ngModel)]="profilDetails.service"
                type="text"
                placeholder="Service"
                id="example-email-input"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="example-url-input"
              class="col-md-2 col-form-label"
            >Type De Profil</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="profilDetails.typeDeProfil"
                name="typeDeProfil"
                placeholder="Type De Profil"
                id="example-url-input"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="example-month-input2"
              class="col-md-2 col-form-label"
            >Etat</label
            >
          <div class="col-md-10">
            <select
              name="estActif"
              ngModel
              class="form-select col-12"
              id="example-month-input2"
            >
              <option value="true">Actif</option>
              <option value="false">Inactif</option>
            </select>
          </div>
          </div>
          <div class="mb-3 row">
            <label
              for="example-date-input"
              class="col-md-2 col-form-label"
            >Date De Rejoin</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="date"
                name="dateRejoin"
                [(ngModel)]="profilDetails.dateRejoin"
                id="example-date-input"
              />
            </div>
            <div hidden="hidden" class="mb-3 row">
              <label
                for="example-url-input"
                class="col-md-2 col-form-label"
              >Entreprise</label
              >
              <div class="col-md-10">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="profilDetails.idEntreprise"
                  name="idEntreprise"
                  placeholder="Type De Profil"
                  id="example-url-input"
                />
              </div>
            </div>
            <div class="form-actions">
              <div class="card-body border-top">
                <button
                  type="submit"
                  class="btn btn-success rounded-pill px-4"
                  (click)="modifierProfil(d.value)"
                >
                  <div class="d-flex align-items-center">
                    <i class="ti ti-device-floppy me-1 fs-4"></i>
                    Enregistrer
                  </div>
                </button>
                <button
                  type="button"
                  class="btn btn-danger rounded-pill px-4 ms-2 text-white" routerLink="/listeprofil"
                >
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
