<div class="card">
  <div class="card-header bg-primary">
    <h4 class="mb-0 text-white">Ajouter Besoin</h4>
  </div>
  <form #d="ngForm">
    <div>
      <div class="card-body">
        <h5>Information Du Besoin</h5>
        <div class="row pt-3">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Type De Besoin</label>
              <input
                type="text"
                id="firstName"
                name="typeDeBesoin"
                ngModel
                class="form-control"
                placeholder="Tapez Votre Besoin"
              />
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Responsable Du Besoin</label>
              <input
                type="text"
                id="lastName"
                name="responsableDuBesoin"
                ngModel
                class="form-control"
                placeholder="Responsable Du Besoin"
              />
             </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Description Besoin</label>
              <input
                type="text"
                name="descriptionBesoin"
                ngModel
                class="form-control"
                placeholder="Description Besoin"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Service En Question</label>
              <input
                ngModel
                type="text"
                name="serviceEnQuestion"
                class="form-control"
                placeholder="Service En Question"
              />
            </div>
          </div>

          <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
          <!--/span-->
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Date Submission Besoin</label>
              <input type="date" class="form-control" ngModel name="dateSubmissionBesoin"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Date Cloture Besoin</label>
              <input type="date" class="form-control" ngModel name="dateClotureBesoin"
              />
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->
      </div>
      <div class="form-actions">
        <div class="card-body border-top">
          <button
            type="submit"
            class="btn btn-success rounded-pill px-4"
            (click)="ajouterBesoin(d.value)"
          >
            <div class="d-flex align-items-center">
              <i class="ti ti-device-floppy me-1 fs-4"></i>
              Enregistrer
            </div>
          </button>
          <button
            type="button"
            class="btn btn-danger rounded-pill px-4 ms-2 text-white" routerLink="/listebesoin"
          >
            Annuler
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
