<!DOCTYPE html>
<!-- Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Feedback Rating | Webdevtrick.com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="emotion.component.css">

</head>
<body>

<form id="form">
  <fieldset class="stars">
    <input type="radio" name="stars" id="star1" ontouchstart="ontouchstart" />
    <label class="fa fa-star" for="star1"></label>
    <input type="radio" name="stars" id="star2" ontouchstart="ontouchstart"/>
    <label class="fa fa-star" for="star2"></label>
    <input type="radio" name="stars" id="star3" ontouchstart="ontouchstart"/>
    <label class="fa fa-star" for="star3"></label>
    <input type="radio" name="stars" id="star4" ontouchstart="ontouchstart"/>
    <label class="fa fa-star" for="star4"></label>
    <input type="radio" name="stars" id="star5" ontouchstart="ontouchstart" (click)="handleStarClick()"/>
    <label class="fa fa-star" for="star5"></label>
    <input type="radio" name="stars" id="star-reset"/>
    <label class="reset" for="star-reset">reset</label>
    <figure class="face"><i></i><i></i>
      <u>
        <div class="cover"></div>
      </u>
    </figure>
  </fieldset>
</form>

</body>
</html>
