<div class="container-fluid">
  <!-- --------------------------------------------------- -->
  <!--  Form Basic Start -->
  <!-- --------------------------------------------------- -->
  <div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-12">
          <h4 class="fw-semibold mb-8">Liste Des Besoins</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-muted " href="index-2.html">Besoins</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Liste Des Besoins</li>
            </ol>
          </nav>
        </div>
        <div class="col-3">
          <div class="text-center mb-n5">
            <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-100 position-relative overflow-hidden">
    <button id="addRow" routerLink="/ajouterbesoin" class="btn btn-primary m-lg-auto w-20 mb-8 form-control">
      <i class="ti ti-plus fs-4"></i> Ajouter Votre Besoin
    </button>

    <div  class="px-4 py-3 border-bottom align-items-center">
      <h5 class="card-title fw-semibold mb-0 lh-sm">Liste Des Besoins</h5>

    </div>
    <div class="card-body p-4">
      <div class="table-responsive rounded-2 mb-4">
        <table class="table border text-nowrap customize-table mb-0 align-middle">
          <thead class="text-dark fs-4">
          <tr>
            <th><h6 class="fs-4 fw-semibold mb-0">Type De Besoin</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Responsable Du Besoin</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Date Submission Besoin</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Date Cloture Besoin</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Description Besoin</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Service En Question</h6></th>
            <th><h6 class="fs-4 fw-semibold mb-0">Etat Besoin</h6></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of listeBesoin | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            <td>
              {{i.typeDeBesoin}}
            </td>
            <td><p class="mb-0 fw-normal fs-4">{{i.responsableDuBesoin}}</p></td>
            <td>
              <h6 class="fs-4 fw-semibold mb-0">{{i.dateSubmissionBesoin}}</h6>
            </td>
            <td>
              <h6 class="fs-4 fw-semibold mb-0">{{i.dateClotureBesoin}}</h6>
            </td>
            <td>
              <h6 class="fs-4 fw-semibold mb-0">{{i.descriptionBesoin}}</h6>
            </td>
            <td>
              <h6 class="fs-4 fw-semibold mb-0">{{i.serviceEnQuestion}}</h6>
            </td>
            <td>
              <span class="badge bg-light-orange text-success fw-semibold fs-2">{{i.etatDuBesoin}}</span>
            </td>
            <td>
              <div class="dropdown dropstart">
                <a href="#" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ti ti-dots-vertical fs-6"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item d-flex align-items-center gap-3" [routerLink]="['/modifierbesoin', i.idBesoin]"><i class="fs-4 ti ti-edit"></i>Modifier</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <div class="slider">
    <input *ngFor="let i of entreprises; let idx = index" type="radio" name="testimonial" [id]="'t-' + (idx + 1)">
    <div class="testimonials">
      <label *ngFor="let i of entreprises; let idx = index" class="item" [for]="'t-' + (idx + 1)">
        <h1>{{ i.nom_entreprise }}</h1>
        <h1>{{ i.type_de_besoin }}</h1>
        <h1>{{ i.ville_entreprise }}</h1>
      </label>
    </div>
    <br/>
    <div class="dots">
      <label *ngFor="let i of entreprises; let idx = index" [for]="'t-' + (idx + 1)"></label>
    </div>
  </div>
  <script src="/assets/js/xd.js"></script>
</div>
